@model Projects.ViewModels.EmpresaViewModel

<div class="container" id="empresa">
    <div class="row">
        <div class="col-lg-12 text-right">
            @using (Html.BeginForm("Buscar", "Empresa", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.cnpj, new { placeholder = "00.000.000/0000-00", @class="input" })
                <input type="submit" value="Pesquisar" />
            }
        </div>
    </div>
</div>
