@model Projects.ViewModels.EmpresaViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="detalhes">
    <div class="row text-left">
        @using (Html.BeginForm("Salvar", "Empresa", FormMethod.Post, new { enctype = "application/json" }))
        {
            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Dados Principais</legend>
                        <partial name="_partPrincipal"/>
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Demais Informações</legend>
                        <partial name="_partDetalhesAdicionais"/>
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Endereço Comercial</legend>
                        <partial name="_partEndereco"/>
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Contato</legend>
                        <partial name="_partContato"/>
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Atividade Principal</legend>
                        @foreach (var item in Model.atividade_principal)
                        {
                            <partial name="_partAtividadePrincipal" for="@item"/>
                        }
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Atividades Secundárias</legend>
                        @foreach (var item in Model.atividade_principal)
                        {
                            <partial name="_partAtividadesSecundarias" for="@item"/>
                        }
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <fieldset>
                        <legend>Sócios</legend>
                        @foreach (var item in Model.qsa)
                        {
                            <partial name="_partSocios" for="@item"/>
                        }
                    </fieldset>
                </div>
            </div>

            <div class="col-lg-12 div text-right">
                <input class="btn" type="submit" value="Salvar" />
            </div>
        }
    </div>
</div>